.about {
  padding-top: 4rem;
}

.about .photo-wrapper {
  text-align: center;
}

.about .photo-wrapper .photo {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(#000, 0.2);
}

.about .content {
  margin-top: 1rem;
  letter-spacing: 1.5px;
  list-style-type: square;
  text-align: justify;
  text-justify: inter-word;
}

.about .content .heading {
  font-weight: bold;
}

.about .content li {
  margin-left: 2rem;
}

.about .content .testimonial{
  margin-top: 1rem;
}

.about .content .testimonial .credit{
  font-weight: bold;
}