.footer {
  margin-top: auto;
}

.footer .footer-content {
  margin-top: 1rem;
  padding: 1.5rem 1rem 1rem;
  background-color: #20232a;
  min-height: 5rem;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  color: #ffffff;
}

.footer .icon {
  margin-left: 1rem;
}
