@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Roboto, Arial, sans-serif;
  font-size: 1rem;
  background-color: #f7db8a;
}

.mandatory {
  color: #d13212;
}
